es_core_news_lg==3.5.0
fasttext==0.9.2
keras==2.12.0
langchain==0.0.184
matplotlib==3.5.2
networkx==3.0
numpy==1.23.5
pandas==1.5.3
py2neo==2021.2.3
rich==13.3.5
scikit_learn==1.2.2
simplet5==0.1.4
spacy==3.5.3
tensorflow==2.12.0
